<% flash.each do |key, value| %>
  <div class="alert-row">
    <div class="col-lg-12">
      <div class="alert alert-<%= alert_class_for(key) %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
      </div>
    </div>
  </div>
<% end %>
